* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
}


.container {

    margin-left: 40%;
    margin-top: 20%;
    
}


h5, .card-text {
    text-align: center;
}

